
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


nav {
  background: #ba97dc;
  padding: 15px;
  display: flex;
  justify-content: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}
nav a:hover {
  color: #ca7cdc;
}

/* General Layout */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}


.hero {
  background: url('event.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
}
.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.hero p {
  font-size: 20px;
}


.btn {
  background: #ba97dc;
  padding: 12px 25px;
  border: none;
  color: #f1fffd;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.btn:hover {
  background: #ffb300;
}

form {
  display: flex;
  flex-direction: column;
}
form input, form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form button {
  background: #004d40;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background: #00796b;
}
